/* colors from https://coolors.co/ */
:root {
    --color-redwood: #9e5c57;
    --color-rosy-brown: #c59996;
    --color-pale-dogwood: #dbbfbd;

    --color-black: #000000;
    --color-rich-black: #051014;

    --color-timberwolf: #eadeda;
    --color-snow: #f8f3f2;

    --color-aero: #5db7de;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--color-redwood);
    --color-background-soft: var(--color-rosy-brown);
    --color-background-mute: var(--color-pale-dogwood);

    --color-foreground: var(--color-timberwolf);

    --color-border: var(--color-foreground);
    --color-heading: var(--color-foreground);
    --color-text: var(--color-foreground);
}

/* common spacing */
:root {
    --space-base: 1rem;

    --space-xxxs: calc(var(--space-base) * 0.125);
    --space-xxs: calc(var(--space-base) * 0.25);
    --space-xs: calc(var(--space-base) * 0.5);
    --space-s: calc(var(--space-base) * 0.75);
    --space-m: var(--space-base);
    --space-l: calc(var(--space-base) * 2);
    --space-xl: calc(var(--space-base) * 4);
    --space-xxl: calc(var(--space-base) * 8);
    --space-xxxl: calc(var(--space-base) * 16);
    --space-xxxxl: calc(var(--space-base) * 32);
}

h1 {
    color: var(--color-heading);
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
